*{ 
	margin: 0;
	padding: 0;
}

.row{
	max-width: 1140px;
	margin: 0 auto;
	float: right;
	margin-right: 10%;


}

body{
	font-family: tahoma;
}

.hero{
	position: absolute;
	width: 1140px;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);

}

header{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(pic1.jpg);
	height: 80vh;
	background-position: center;
	background-size: cover;
}
h1{
	color: white;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 60px;

}

.main-nav li{
	display: inline-block;
	margin-left: 20px;
}

.main-nav li a{
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
	overflow: hidden;
	transition: 0.7s all;
}
.logo img{
	height: 100px;
	float: left;
	margin-top: 30px;
}

.main-nav li a:hover{
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
	transition: all 0.2s ease-in;
	padding: 20px;
}

.btn
{
	border: 1px solid #e67e22;
	padding: 10px 30px;	
	color: #e67e22;
	text-decoration: none;
	border-radius: 12px;
	margin-right: 13px;					
}

.button-awesome{
	margin-top: 40px;

}

.btn-half{
	background-color: #e67e22;
	color: white;
}

.btn-full:hover{
	background-color: #e67e22;
	color: white;
	transition: all 0.2s ease-in;
}

.btn-full{
	color: #fff;
}

.copy
{
	width: 70%;
	margin-left: 13%;
}

.features h3{
	margin-top: 80px;
	margin-bottom: 30px;
}

h3:after{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.text-center{
	text-align: center;
}

.arranging{
	text-align: justify;
}

















